In [15]:
import pandas as pd

In [19]:
weather = pd.read_csv('./weather_clean.csv')

In [20]:
weather.head()

,Unnamed: 0,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,...,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,0,1.0,2007-05-01,83.0,50.0,67.0,14.0,51.0,56.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2.0,2007-05-01,84.0,52.0,68.0,NaN,51.0,57.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,2007-05-02,59.0,42.0,51.0,-3.0,42.0,47.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,2.0,2007-05-02,60.0,43.0,52.0,NaN,42.0,47.0,13.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,2007-05-03,66.0,46.0,56.0,2.0,40.0,48.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Remove station 2, only keeping station 1

In [60]:
weather_st1 = weather.loc[weather['Station'] == 1]

In [61]:
weather_st1.head()

,Unnamed: 0,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,...,GR,HZ,MIFG,RA,SN,SQ,TS,TSRA,VCFG,VCTS
0,0,1.0,2007-05-01,83.0,50.0,67.0,14.0,51.0,56.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1.0,2007-05-02,59.0,42.0,51.0,-3.0,42.0,47.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1.0,2007-05-03,66.0,46.0,56.0,2.0,40.0,48.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,1.0,2007-05-04,66.0,49.0,58.0,4.0,41.0,50.0,7.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,8,1.0,2007-05-05,66.0,53.0,60.0,5.0,38.0,49.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
weather_st1['Year'].unique()

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014])

In [63]:
year7 = weather_st1.loc[weather_st1['Year'] == 2007]
year8 = weather_st1.loc[weather_st1['Year'] == 2008]
year9 = weather_st1.loc[weather_st1['Year'] == 2009]
year10 = weather_st1.loc[weather_st1['Year'] == 2010]
year11 = weather_st1.loc[weather_st1['Year'] == 2011]
year12 = weather_st1.loc[weather_st1['Year'] == 2012]
year13 = weather_st1.loc[weather_st1['Year'] == 2013]
year14 = weather_st1.loc[weather_st1['Year'] == 2014]

In [64]:
weather_st1_odd = pd.concat([year7, year9, year11, year13])
weather_st1_even = pd.concat([year8, year10, year12, year14])

In [65]:
weather_st1_odd['Year'].unique()

array([2007, 2009, 2011, 2013])

In [66]:
weather_st1_even['Year'].unique()

array([2008, 2010, 2012, 2014])

In [69]:
weather_st1_odd.to_csv('weather_odd.csv')

In [70]:
weather_st1_even.to_csv('weather_even.csv')